*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(27, 27, 27);
}
p {
  display: inline;
}
.title{
    margin-top: 1rem;
    margin-left: 2.2rem;
    font-size: 2.8rem;
    font-family: 'Russo One', sans-serif;
}
#btc-line{
    
}
#main{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

}
.stats-list{
    list-style: none;
    
}
.stats-list, li{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.options{
    min-height: 300px;
    min-width: 350px;
    border: 5px solid#424242;
    border-radius: 10px;
    padding: 1rem;
}
.user-options{
    display: flex;
    flex-direction: column;
}
.coin-image{
    max-height: 200px;
    padding-bottom: 1.5rem;
}
.coin-select{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.currency-select{
    font-size: 1.2rem;
}
select{
    font-size: 1.1rem;
    width: 100%;
    background: #424242
}
#updateButton{
    width:40%;
    padding: 0.4rem;
    background:#424242;
    font-weight: 800;
    color: cadetblue;
    font-size: 1.2rem;
    align-self: center;
    margin-top: 1.5rem;

}