*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(27, 27, 27);
}
.title{
    margin: 1rem;
    font-size: 2.8rem;
}
#btc-line{
    
}
#main{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

}
.stats-list{
    list-style: none;
    
}
.stats-list, li{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.options{
    min-height: 300px;
    min-width: 350px;
    border: 5px solid#424242;
    border-radius: 10px;
    padding: 1rem;
}
.user-options{
    display: flex;
    flex-direction: column;
}